---
import Layout from '../layouts/Layout.astro';
import Loader from '../components/Loader.astro';
---

<Layout title="Odin ALEXANDRE Portfolio">
	<main>
        <Loader />
		<h1 class="title">Portfolio of Odin ALEXANDRE</h1>
	</main>
</Layout>

<style>
	body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

    h1 {
    text-align: center;
	color: whitesmoke;
    font-size: 5rem;
    }
</style>

<script>
 import { gsap } from "gsap";
    gsap.from(".title", 1.5, { 
        delay: 3.2,
        x: -1600,
        stagger: {
            amount: 0.5
        },
        ease: "power4.inOut"
    });

</script>