---

---
<div class="loader">
    <h1 class="hundred">0</h1>
    <h1 class="counter">00</h1>
    
</div>


<style>
 @import url('https://fonts.googleapis.com/css2?family=Cardo:wght@700&display=swap');

    .loader{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background-color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 999;
    }
    h1{
        font-family: 'Cardo', serif;
        font-size: 16rem;
        color: #000;
        font-weight: 700;
        margin: 0;
    }
</style>



<script>
 import { gsap } from "gsap";
    function startloader(){
        //define varaiables
        let counter = document.querySelector('.counter');
        let hundred = document.querySelector('.hundred');
        let currentValue = 0;
        let delay = 28;

        function updateCounter(){
            if(currentValue === 99){
                if (counter) {
                    counter.textContent = '00';
                }
                if (hundred) {
                    hundred.textContent = '1';
                }
                return;
            }

            currentValue++;

            if(currentValue >99){
                currentValue = 99;
            }

            if (counter) {
                if (currentValue < 10) {
                    counter.textContent = '0' + String(currentValue);
                } else {
                    counter.textContent = String(currentValue);
                }
                
            }    
            setTimeout(updateCounter, delay);  
        };

        updateCounter();
    };
    startloader();

    gsap.to(".counter",0.25,{
        delay: 2.9,
        opacity: 0,
    });
    gsap.to(".hundred",0.25,{
        delay: 2.9,
        opacity: 0,
    });
    gsap.to(".loader",1.5,{
        delay: 3.1,
        duration: 1.2,
        y: "100%",
        ease: "power4.out",
    });
    
</script>